node_modules/@next/swc-win32-x64-msvc/next-swc.win32-x64-msvc.node
node_modules/puppeteer-core/.local-chromium/win64-1045629/chrome-win/chrome.dll
node_modules/puppeteer-core/.local-chromium/win64-1045629/chrome-win/interactive_ui_tests.exe
